streamlit>=1.28
langchain>=0.0.217
langchain-community
langchain_chroma
chardet
openai>=1.2
duckduckgo-search
anthropic>=0.3.0
trubrics>=1.4.3
streamlit-feedback
st_supabase_connection
langchain_openai
langchain_core
chromadb